body{
    margin: 0;
    zoom: 100%;
}
.divContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#startDiv{
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}
#boxes, #boxSize{
    padding-right: 5%;
}
#startButton{
    padding: 10px 10px;
}
